.logoImage{
    width: 3.4rem;
    height: 3.4rem;
    border-radius:50%;
}
.logoImage img{
    width: 100%;
    height: 100%;
}
@media screen and (max-width:480px){
    .logoImage{
        width: 2.5rem;
        height: 2.5rem;
    }
}